extends layout

block content
  h1= title

  div.container-fluid
    div.row
      each item in results
        div.col-sm-2
          h5 #{item.name}
          p Price: #{item.cost}
          p #{item.description}
